<div class="product-list groupContentStyle">
    <div class="product" *ngFor="let product of productList">
        <div class="contentStyle">
            <img [src]="'assets/images/'+product.filename" class="filename imagesize"><br>
            <span class="title">{{product.title}}</span><br>
            <span class="type">{{product.type}}</span><br>
            <span class="rating">{{product.rating}}</span><br>
            <span class="price">{{product.price | currency}}</span><br>
            <button (click)=addToCart(product)>Add To Cart</button>
            <button (click)="moreInfo(product.title)">More Info</button>
            <div *ngIf="show">
                <div *ngFor="let subProduct of subProductList">
                    <div class="sub-contentStyle">
                        <div *ngIf="product.title===subProduct.title">
                        <span class="description">{{subProduct.description}}</span><br>
                        <span class="height">{{subProduct.height}}</span><br>
                        <span class="width">{{subProduct.width}}</span>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>