input[type=search], select {
  width: 500px;
  height: 50px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.align{
    padding-left: 20px;
}
.align1{
  padding-left: 80px;
}



