<div class="menubar">
    <div class="dropdown size">
        <button class="dropbtn">Electronics</button>
        <div class="dropdown-content">
            <div class="subDropdown">
                <a class="subDropbtn">Mobiles
                    <div class="subDropdown-content">
                        <a href="#">Iphone</a>
                        <a href="#">Android</a>
                        <a href="#">Feature</a>
                    </div>   
                </a>
            </div> 
            <a href="#">Laptops</a>
            <a href="#">TV</a>
            <a href="#">Accessories</a>
        </div>
    </div>
    <div class="dropdown size">
        <button class="dropbtn">Grocery</button>
        <div class="dropdown-content">
            <a (click)="getProduct('vegetable')">Vegitables</a>
            <a (click)="getProduct('fruit')">Fruit</a>
            <a (click)="getProduct('dairy')">Dairy</a>
            <a (click)="getProduct('bakery')">Bakery</a>
            <a (click)="getProduct('meat')">Meat</a>
        </div>
    </div>
    <div class="dropdown size">
        <button class="dropbtn">Fashion</button>
        <div class="dropdown-content">
            <a href="#">Shirts</a>
            <a href="#">T-Shirts</a>
            <a href="#">Jeans</a>
        </div>
    </div>
    <div class="dropdown size">
        <button class="dropbtn">Home</button>
        <div class="dropdown-content">
            <a href="#">Bed</a>
            <a href="#">Table</a>
            <a href="#">Chair</a>
            <a href="#">Dinning Sets</a>
            <a href="#">Kitchen</a>
        </div>
    </div>
    <div class="dropdown size">
        <button class="dropbtn">Other</button>
        <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>
    </div>
</div>